<style>
    header {
        display:flex;
        justify-content: space-between;
        background-color: #333;
        color: #fff;
        padding: 10px;
    }
    .navInHeader{
        display: flex;
        align-content: center;
        height: 100%;
    }
</style>

<header class="header" th:fragment="header">
    <div>

    </div>
    <div class="centreText">
        <h1>Rooms Page</h1>
    </div>
    <div class="navInHeader">
            <a class="nav-link" href="/enterPath" style="padding: 0;">
                <img src="/pic/save.png" alt="changeSave" style="width: 30px; height: 30px;">
            </a>
    </div>
</header>